@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Muli', sans-serif;
    font-size: 15px;
}

body {
    display: flex;
    flex-direction: column;
}

p {
    margin-bottom: 10px;
}

.header {
    background-color: white;
    height: 50px;
    width: auto;
}

.content {
    flex: 1 0 auto;
}

.footer {
    background-color: rgba(213, 213, 213, 0.55);
    flex: 0 0 auto;
    height: 50px;
}

.row {
    display: flex;
    background-color: #dbe2df;
    height: 500px;
    width: 101vw;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5)
}

.loginPanel {
    height: 380px;
    width: 500px;
    background-color: white;
    margin: 2% auto 3%;
    padding: 20px 20px 30px 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
}

.loginForm {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.user_login {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 1%;
    font-size: 14px;
}

.user_pass {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 1%;
}

.button {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 10%;
}

.submit {
    width: 100%;
    padding: 8px;
    background-color: #5d95e6;
    color: white;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
}

.submit:hover {
    background-color: rgba(101, 167, 255, 0.87);
}

.input {
    width: 100%;
    margin-top: 7px;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 3px;
    border: 1px solid rgba(186, 182, 182, 0.58);
}

.textWrap {
    padding-left: 10px;
    margin-bottom: 5%;
    margin-top: 1%;
}

.line {
    margin-top: 3%;
    margin-bottom: 2%;
}

.logoutButton {
}

.homePanel {
    display: flex;
    margin-left: 3%;
}

.homeMenu {
    width: 20%;
    background-color: white;
    margin: 2% 3% 3% auto;
    padding: 20px 20px 30px 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
}

.loginPanelWrap {
    margin: 2% auto;
}

.topicContainer {
    padding: 3%;
}

.topicBlock {
    width: 100%;
    background-color: white;
    margin: 2% auto 3%;
    padding: 20px 20px 30px 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
}

.topicFormContainer {
    padding-left: 3%;
    padding-right: 3%;
}

.topicFormBlock {
    width: 100%;
    background-color: white;
    margin: 2% auto 3%;
    padding: 20px 20px 30px 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
}

.topicFormBack {
    width: 10%;
    padding: 8px;
    margin: 2% 3% 3% auto;
    background-color: #5d95e6;
    color: white;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
}

.topicFromSubmit {
    width: 90%;
    padding: 8px;
    margin: 3% 4% 3% 4%;
    background-color: #5d95e6;
    color: white;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
}

.topicFormTitleInput {
    width: 30%;
}

.topicFormTextInput {
    width: 30%;
}

.registerMenu {
    width: 500px;
    background-color: white;
    margin: 2% auto 3%;
    padding: 20px 20px 30px 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
}

.registerMenuWrap {

    margin: 2% auto 3%;
    padding-left: 10px;
}

.registerRow {
    display: flex;
    background-color: #dbe2df;

    width: 101vw;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5)
}

.registerInput {
    width: 100%;
    margin-top: 7px;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 3px;
    border: 1px solid rgba(186, 182, 182, 0.58);
}

.addedDate {
    font-size: 10px;
    opacity: 0.5;
}

.commentInput {
    width: 40%;
    margin-top: 7px;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 3px;
    border: 1px solid rgba(186, 182, 182, 0.58);
}

.homeCommentSubmit, .homeChildCommentSubmit {
    padding: 8px;
    margin: 2% 3% 3% auto;
    background-color: #5d95e6;
    color: white;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
}

.homeCommentDiv {
    margin-left: 0;
}

.displayCommentsButton {

}

.homeCommentForm {

}

.navheader {
    padding: 10px;
    text-align: right;
}

.btn-back {
    margin-right: 10px;
    /*border-color: #007bff;*/
    /*color: #007bff;*/
    font-weight: 400;
    padding: 8px 24px 8px 24px;
}

.btn-back:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.border {
    border-left: 3px;

    /*display: inline-block;*/
    /*border-color: #990000;*/
    /*width: 70px;*/
    /*height: 70px;*/
    /*margin: 6px;*/
}

/*.com-div {*/
/*    border-left: 10px;*/
/*    border-bottom-color: #5d95e6;*/
/*}*/
